<table class="table table-striped table-condensed">
	<thead>
	<strong>
		<th>Module</th>
		<th>Notes</th>
	</strong>
	</thead>
	<tbody>
		<% @topics.each do |topic| %>
		<th><%= topic.subject %></th>
		<th><%= topic.desc %></th>
		<% end %>
	</tbody>
</table>