// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
	margin: 0;
	background-color: black;
	color: white;
}

html body #wrapper 
{
	display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-right:80px;
    margin-left:80px;
}

#wrapper
{
	margin: 0% 5%;	
}
nav{
	background: white;
	margin-top: 25px;
	height: 55px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	}


nav ul{
	padding:20px;
	text-align: right;
	}

nav ul li{
	display:inline;
	margin:0px;
	font-size: 20px;
	}	

nav li a{
	text-decoration: none;
	color:black;
	padding: 5px 5px 5px 5px;
	}

nav li a:hover{
	background:black;
	color: white;
}

#log_out
{
	float: right;

}

#log_out li a{
	text-decoration: none;
	color:black;
	padding: 5px 5px 15px 5px;
	}

#log_out li a:hover
{
	color: #9078a8;
}

#button a
{
	text-decoration: none;
	color: white;
}

table
{
	margin: 10px 0px 0px 250px;
}